.err_status {
    color: red;
}
.normal_status {
    color: black;
}

.empty_box {
    border: 1px solid red;
}


/*style radio button */
#sex {
    padding-left: 20px;
}
/*style jumbotron*/
.jumbotron_style {
   /*margin-top: 30px;*/ 
}